# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5001
NEXT_PUBLIC_APP_URL=http://localhost:5000

# OAuth Providers (client-side IDs - if applicable)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""
NEXT_PUBLIC_LINKEDIN_CLIENT_ID=""
NEXT_PUBLIC_GITHUB_CLIENT_ID=""